// index page
.card{
  border-radius: 30px;
}

.card-image{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 15rem;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.title{
  padding-bottom: 1rem;
}

.articles{
  margin-top: 40px;
}

.index-language-button{
  border: solid 1px grey;
  margin: 15px 5px 5px 5px;
  &:hover{
    transform: scale(1.1);
  }
}

.fa-search{
  margin-left: 7px;
}
