// import google font with @import syntax
@import url('https://fonts.googleapis.com/css?family=Roboto');


// import bulma initial-variables
@import "~bulma/sass/utilities/initial-variables";


// modify bulma variables
$family-primary: 'Roboto';


// import bulma
@import '~bulma';


$orioles-orange: #FC440F;
$medium-spring-green: #1EFFBC;
$light-slate-grey: #7C9299;
$medium-blue: #1F01B9;
$green-lizard: #B4E33D;


// index page
.card-image{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 15rem;
}

.index-title{
  padding-bottom: 1rem;
}


// show page
.hero-image{
  @extend .card-image;
  height: 600px;
}


.navbar{
  background-color: $medium-blue;
}
