// import google font with @import syntax
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic');


// import bulma initial-variables
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";


// modify bulma variables
$family-primary: 'Lato';
$button-border-color: transparent;
$button-hover-color: none;
$button-hover-border-color:	none;


// import bulma
@import '~bulma';


// variables
$green: #a8ff78;
$light-blue: #78ffd6;
$dark-grey: #262626;


// mixins
@mixin text-gradient($dir, $from, $to) {
  background: -webkit-linear-gradient($dir, $from, $to);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin background-gradient($dir, $from, $to) {
  background-image:
    -webkit-linear-gradient($dir, $from, $to),
}

// Home
.home-background{
  background-image: url('../assets/world-map.png');
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    position: absolute;
}


// navbar
.navbar{
  background-color: $dark-grey;
  padding: .5rem;
}

.logo{
  @include text-gradient(left, $green, $light-blue);
  font-family: 'Gentium Book Basic';
  font-size: 45px;
  font-weight: bold;
}

.navbar-icon{
  @include text-gradient(left, $green, $light-blue);
}

.nav-icon-display{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.burger-icon{
  @include background-gradient(left, $green, $light-blue);
}

.navbar-burger{
  height: 5rem;
}

// index page
.card-image{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 15rem;
}

.title{
  padding-bottom: 1rem;
}

.index-language-button{
  border: solid 1px grey;
}


// show page
.hero-image{
  @extend .card-image;
  height: 300px;
}

.show-page-article-content{
  padding: 1em;
}

.show-button{
  display: flex;
  flex-direction: column;
  margin: 2em;
  width: 50px;
  height: 50px;
  padding: 2%;
  border-radius: 50px;
  &.show-button:hover, .show-button.is-hovered{
    transform: scale(1.1);
  }
}

.delete-icon{
  background-color: red;
  color: white;
}

.edit-icon{
  background-color: $green;
  color: $dark-grey;
}

.translate-icon{
  background-color: $light-blue;
}




// searchbar

select.is-rounded{
  border-radius: 50px;
}
