// import google font with @import syntax
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic');


// import bulma initial-variables
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";


// modify bulma variables
$family-primary: 'Lato';
$button-border-color: transparent;
$button-hover-color: none;
$button-hover-border-color:	none;


// import bulma
@import '~bulma';


// variables
$green: #a8ff78;
$light-blue: #78ffd6;
$dark-grey: #262626;
$pink: #ff7878;



@import 'mixins';
@import 'home';
@import 'index';
@import 'misc';
@import 'navbar';
@import 'show';
